.footer__inicial{
    background-color: var(--preto);
    padding: 70px 25px;
}

.footer__inicial section{
    background-color: var(--cor-secundaria);
    padding: 25px 15px;
    border-radius: 10px;
}

.footer__inicial h2{
    font-family: var(--fonte-textos);
    font-size: 1.3rem;
}

.footer__inicial h3{
    font-family: var(--fonte-textos);
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.formulario label{
    font-family: var(--fonte-textos);
}

.formulario input,.formulario textarea{
    margin-bottom: 15px;
    background-color: var(--cor-principal);
    border: none;
    color: white;
    font-family: var(--fonte-textos);
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 10px;
}

.formulario input{
    padding: 5px 0;
    padding-left: 10px;
}

.formulario input::placeholder,.formulario textarea::placeholder{
    color: gray;
    font-family: var(--fonte-textos);
    padding:5px;
    
}

.formulario button{
    width: 150px;
    padding: 15px 0;
    background-color: var(--cor-terciaria);
    color: white;
    border: none;
    border-radius: 8px;
}

@media (min-width: 768px){
    .footer__inicial{
        padding: 140px 0;
    }

    .footer__inicial section{
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .footer__inicial section{
        width: 30%;
    }
}