@import url(./main.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./contato.css);
@import url(./resumo.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: white;
    height: 100vh;
    
    
}

:root{
    color-scheme: dark;
    --preto:#000000;
    --cor-principal: #131212;
    --cor-secundaria: #252525 ;
    --cor-secundaria-degrade: linear-gradient(to top,#1a1919 30%,#000000 100%);
    --cor-terciaria: #a10505;
    --preto-terciario: #1a1919;

    --fonte-textos:"Montserrat", sans-serif;
}
